body { background: #90f8c0; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 59px; display: flex; }
.block-uploader-0 { color: #749de8; font-size: 13px; margin-bottom: 5px; }
.block-cart-1 { color: #a40544; font-size: 17px; margin-bottom: 5px; }
.block-cluster-2 { color: #3a728c; font-size: 17px; margin-bottom: 5px; }
.block-logger-3 { color: #6eb230; font-size: 21px; margin-bottom: 5px; }
.block-email-4 { color: #cfda62; font-size: 19px; margin-bottom: 5px; }
.block-notify-5 { color: #819114; font-size: 13px; margin-bottom: 5px; }